POSTGRES_USER=kavyansh
POSTGRES_PASSWORD=your_secure_password


MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_password
GITHUB_TOKEN=[your_github_token]

GEMINI_API_KEY=your_gemini_key
MOTHERDUCK_TOKEN=your_motherduck_token